.testimonials{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
@media(min-width:1050px){
    .testimonials{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media(min-width:768px) and (max-width:1049px){
    .testimonials{
        grid-template-columns: repeat(2, 1fr);
    }
}
.card{
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}